streamlit>=1.11.0
opencv-python-headless==4.5.3.56  # Menggunakan versi headless untuk menghindari masalah GUI pada server
numpy>=1.21.0
google-generativeai>=0.1.0  # Pastikan menggunakan versi yang sesuai
matplotlib>=3.5.0
pandas>=1.3.0